Repository ddubrava/angular-yandex-maps: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Remove extra whitespace
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map/y-map.component.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@10b4f62f7a3b590918b86a471934a62f92c5d5d0 🚀
  v2/README.md
  v2/_sidebar.md
  v2/variables/YA_CONFIG.md
  v2/variables/provideYaConfig.md
  v3/README.md
  v3/components/YMapComponent.md
  v3/components/YMapControlsDirective.md
Due: prettier --write

feat: support Angular 21
  apps/angular-yandex-maps-v2-demo/project.json
  apps/angular-yandex-maps-v2-demo/tsconfig.json
  apps/angular-yandex-maps-v2-demo/tsconfig.spec.json
  apps/angular-yandex-maps-v3-demo/project.json
  apps/angular-yandex-maps-v3-demo/tsconfig.json
  apps/angular-yandex-maps-v3-demo/tsconfig.spec.json
  libs/angular-yandex-maps-v2/README.md
  libs/angular-yandex-maps-v2/package.json
  libs/angular-yandex-maps-v2/project.json
  libs/angular-yandex-maps-v2/src/lib/components/ya-control/ya-control.directive.spec.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-object-manager/ya-object-manager.directive.spec.ts
  libs/angular-yandex-maps-v2/tsconfig.json
  libs/angular-yandex-maps-v2/tsconfig.spec.json
  libs/angular-yandex-maps-v3/README.md
  libs/angular-yandex-maps-v3/package.json
  libs/angular-yandex-maps-v3/project.json
  libs/angular-yandex-maps-v3/tsconfig.json
  libs/angular-yandex-maps-v3/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: support Angular 21 (#281)
  apps/angular-yandex-maps-v2-demo/project.json
  apps/angular-yandex-maps-v2-demo/tsconfig.json
  apps/angular-yandex-maps-v2-demo/tsconfig.spec.json
  apps/angular-yandex-maps-v3-demo/project.json
  apps/angular-yandex-maps-v3-demo/tsconfig.json
  apps/angular-yandex-maps-v3-demo/tsconfig.spec.json
  libs/angular-yandex-maps-v2/README.md
  libs/angular-yandex-maps-v2/package.json
  libs/angular-yandex-maps-v2/project.json
  libs/angular-yandex-maps-v2/src/lib/components/ya-control/ya-control.directive.spec.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-object-manager/ya-object-manager.directive.spec.ts
  libs/angular-yandex-maps-v2/tsconfig.json
  libs/angular-yandex-maps-v2/tsconfig.spec.json
  libs/angular-yandex-maps-v3/README.md
  libs/angular-yandex-maps-v3/package.json
  libs/angular-yandex-maps-v3/project.json
  libs/angular-yandex-maps-v3/tsconfig.json
  libs/angular-yandex-maps-v3/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(release): publish
  libs/angular-yandex-maps-v2/CHANGELOG.md
  libs/angular-yandex-maps-v2/package.json
  libs/angular-yandex-maps-v3/CHANGELOG.md
  libs/angular-yandex-maps-v3/package.json
Due: prettier --write

docs: update all links
  libs/angular-yandex-maps-v2/src/lib/components/ya-clusterer/ya-clusterer.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-geoobject/ya-geoobject.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-map/ya-map.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-multiroute/ya-multiroute.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-object-manager/ya-object-manager.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-panorama/ya-panorama.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-placemark/ya-placemark.directive.ts
  libs/angular-yandex-maps-v2/src/lib/types/ya-event.ts
  libs/angular-yandex-maps-v2/src/lib/types/yandex-maps/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-clusterer/y-map-clusterer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-default-marker/y-map-default-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature/y-map-feature.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-listener/y-map-listener.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-marker/y-map-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map/y-map.component.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-button/y-map-control-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-common-button/y-map-control-common-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-controls/y-map-controls.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-geolocation-control/y-map-geolocation-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-open-maps-button/y-map-open-maps-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-scale-control/y-map-scale-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-zoom-control/y-map-zoom-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-features-layer/y-map-default-features-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-scheme-layer/y-map-default-scheme-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/tokens/y-config.ts
  libs/angular-yandex-maps-v3/src/lib/types/y-config.ts
  libs/docsifier/assets/v2/faq.md
  libs/docsifier/assets/v3/faq.md
Due: prettier --write, eslint --fix

docs: update all links (#284)
  libs/angular-yandex-maps-v2/src/lib/components/ya-clusterer/ya-clusterer.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-geoobject/ya-geoobject.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-map/ya-map.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-multiroute/ya-multiroute.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-object-manager/ya-object-manager.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-panorama/ya-panorama.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-placemark/ya-placemark.directive.ts
  libs/angular-yandex-maps-v2/src/lib/types/ya-event.ts
  libs/angular-yandex-maps-v2/src/lib/types/yandex-maps/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-clusterer/y-map-clusterer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-default-marker/y-map-default-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature/y-map-feature.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-listener/y-map-listener.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-marker/y-map-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map/y-map.component.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-button/y-map-control-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-common-button/y-map-control-common-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-controls/y-map-controls.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-geolocation-control/y-map-geolocation-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-open-maps-button/y-map-open-maps-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-scale-control/y-map-scale-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-zoom-control/y-map-zoom-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-features-layer/y-map-default-features-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-scheme-layer/y-map-default-scheme-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/tokens/y-config.ts
  libs/angular-yandex-maps-v3/src/lib/types/y-config.ts
  libs/docsifier/assets/v2/faq.md
  libs/docsifier/assets/v3/faq.md
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@f41dd9cb1010cd1823b7078573db1a485bb638b6 🚀
  v2/components/YaClustererComponent.md
  v2/components/YaGeoObjectDirective.md
  v2/components/YaMapComponent.md
  v2/components/YaMultirouteDirective.md
  v2/components/YaObjectManagerDirective.md
  v2/components/YaPanoramaDirective.md
  v2/components/YaPlacemarkDirective.md
  v2/faq.md
  v2/interfaces/YaEvent.md
  v3/components/YMapClustererDirective.md
  v3/components/YMapComponent.md
  v3/components/YMapControlButtonDirective.md
  v3/components/YMapControlCommonButtonDirective.md
  v3/components/YMapControlDirective.md
  v3/components/YMapControlsDirective.md
  v3/components/YMapDefaultFeaturesLayerDirective.md
  v3/components/YMapDefaultMarkerDirective.md
  v3/components/YMapDefaultSchemeLayerDirective.md
  v3/components/YMapFeatureDataSourceDirective.md
  v3/components/YMapFeatureDirective.md
  v3/components/YMapGeolocationControlDirective.md
  v3/components/YMapHintDirective.md
  v3/components/YMapLayerDirective.md
  v3/components/YMapListenerDirective.md
  v3/components/YMapMarkerDirective.md
  v3/components/YMapOpenMapsButtonDirective.md
  v3/components/YMapScaleControlDirective.md
  v3/components/YMapZoomControlDirective.md
  v3/faq.md
  v3/interfaces/YConfig.md
  v3/variables/provideYConfig.md
Due: prettier --write

Support YMapTileDataSource
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-tile-data-source/y-map-tile-data-source.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-tile-data-source/y-map-tile-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

Support YMapTileDataSource (#286)
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-tile-data-source/y-map-tile-data-source.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-tile-data-source/y-map-tile-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@46821172607d75f349d0b6bd41135dec5fae707d 🚀
  v3/_sidebar.md
  v3/components/YMapTileDataSourceDirective.md
Due: prettier --write

feat: support YMapTileDataSource (#286)
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-tile-data-source/y-map-tile-data-source.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-tile-data-source/y-map-tile-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

chore(release): publish
  libs/angular-yandex-maps-v3/CHANGELOG.md
  libs/angular-yandex-maps-v3/package.json
Due: prettier --write

docs: fix fetch tile interpolation
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-tile-data-source/y-map-tile-data-source.directive.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@bb166f3f5a842ad6b865f22a449a208ef8d75018 🚀
  v3/components/YMapTileDataSourceDirective.md
Due: prettier --write

chore: migrate workspace to Nx 23 and Angular 22
  .gitignore
  .prettierignore
  apps/angular-yandex-maps-v2-demo/src/app/app.component.ts
  apps/angular-yandex-maps-v2-demo/tsconfig.app.json
  apps/angular-yandex-maps-v2-demo/tsconfig.json
  apps/angular-yandex-maps-v3-demo/src/app/app.component.ts
  apps/angular-yandex-maps-v3-demo/tsconfig.app.json
  apps/angular-yandex-maps-v3-demo/tsconfig.json
  libs/angular-yandex-maps-v2/tsconfig.doc.json
  libs/angular-yandex-maps-v2/tsconfig.json
  libs/angular-yandex-maps-v2/tsconfig.lib.json
  libs/angular-yandex-maps-v2/tsconfig.lib.prod.json
  libs/angular-yandex-maps-v3/tsconfig.doc.json
  libs/angular-yandex-maps-v3/tsconfig.json
  libs/angular-yandex-maps-v3/tsconfig.lib.json
  libs/angular-yandex-maps-v3/tsconfig.lib.prod.json
  libs/docsifier/tsconfig.json
  nx.json
  package-lock.json
  package.json
  tools/tsconfig.tools.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

feat: support Angular 22
  libs/angular-yandex-maps-v2/README.md
  libs/angular-yandex-maps-v2/package.json
  libs/angular-yandex-maps-v3/README.md
  libs/angular-yandex-maps-v3/package.json
Due: prettier --write

chore: update .gitignore to exclude .claude directory and settings
  .gitignore
Due: none

Update all packages to latest verisons
  package-lock.json
  package.json
Due: prettier --write

Update peer dependencies and version compatibility
  libs/angular-yandex-maps-v2/README.md
  libs/angular-yandex-maps-v2/package.json
  libs/angular-yandex-maps-v3/README.md
  libs/angular-yandex-maps-v3/package.json
Due: prettier --write

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@5b795d09c24e0b8bfb0291f395be291b3cea0522 🚀
  v2/README.md
  v3/README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,json,md,html,css}
  eslint --fix: any of: *.{js,ts}
