Repository ddubrava/angular-yandex-maps: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,json,md,html,css}": "prettier --write",
  "*.{js,ts}": "eslint --fix"
}

build: change job to publish documentation only on tags push
  .github/workflows/gh-pages.yml
Due: none

docs: add library/package name to issues and PR templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-help-wanted.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat: add exitZone to y-api-loader-service load stream
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map/y-map.component.ts
  libs/angular-yandex-maps-v3/src/lib/services/y-api-loader/y-api-loader.service.spec.ts
  libs/angular-yandex-maps-v3/src/lib/services/y-api-loader/y-api-loader.service.ts
  libs/angular-yandex-maps-v3/src/lib/utils/zone/zone.ts
Due: prettier --write, eslint --fix

refactor: replace ngZone.run with enterZone in geocoder
  libs/angular-yandex-maps-v2/src/lib/services/ya-geocoder/ya-geocoder.service.ts
Due: prettier --write, eslint --fix

feat: add exitZone to ya-api-loader-service load stream
  libs/angular-yandex-maps-v2/src/lib/components/ya-clusterer/ya-clusterer.component.ts
  libs/angular-yandex-maps-v2/src/lib/services/ya-api-loader/ya-api-loader.service.spec.ts
  libs/angular-yandex-maps-v2/src/lib/services/ya-api-loader/ya-api-loader.service.ts
  libs/angular-yandex-maps-v2/src/lib/utils/zone/zone.ts
Due: prettier --write, eslint --fix

feat: create all components outside an Angular zone (#241)
  libs/angular-yandex-maps-v2/src/lib/components/ya-clusterer/ya-clusterer.component.ts
  libs/angular-yandex-maps-v2/src/lib/services/ya-api-loader/ya-api-loader.service.spec.ts
  libs/angular-yandex-maps-v2/src/lib/services/ya-api-loader/ya-api-loader.service.ts
  libs/angular-yandex-maps-v2/src/lib/services/ya-geocoder/ya-geocoder.service.ts
  libs/angular-yandex-maps-v2/src/lib/utils/zone/zone.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map/y-map.component.ts
  libs/angular-yandex-maps-v3/src/lib/services/y-api-loader/y-api-loader.service.spec.ts
  libs/angular-yandex-maps-v3/src/lib/services/y-api-loader/y-api-loader.service.ts
  libs/angular-yandex-maps-v3/src/lib/utils/zone/zone.ts
Due: prettier --write, eslint --fix

chore(release): publish
  libs/angular-yandex-maps-v2/CHANGELOG.md
  libs/angular-yandex-maps-v2/package.json
  libs/angular-yandex-maps-v3/package.json
Due: prettier --write

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@4bce8e539499f11c3b7ec38847bfbceb504980fe 🚀
  v3/_sidebar.md
  v3/components/YMapComponent.md
  v3/components/YMapControlButtonDirective.md
  v3/components/YMapControlCommonButtonDirective.md
  v3/components/YMapControlDirective.md
  v3/components/YMapControlsDirective.md
  v3/components/YMapDefaultFeaturesLayerDirective.md
  v3/components/YMapDefaultMarkerDirective.md
  v3/components/YMapDefaultSchemeLayerDirective.md
  v3/components/YMapFeatureDirective.md
  v3/components/YMapGeolocationControlDirective.md
  v3/components/YMapListenerDirective.md
  v3/components/YMapMarkerDirective.md
  v3/components/YMapOpenMapsButtonDirective.md
  v3/components/YMapScaleControlDirective.md
  v3/components/YMapZoomControlDirective.md
Due: prettier --write

chore(release): publish
  libs/angular-yandex-maps-v3/CHANGELOG.md
Due: prettier --write

ci: add workflow_dispatch to gh-pages workflow
  .github/workflows/gh-pages.yml
Due: none

docs: add link to examples from official documentation
  libs/docsifier/assets/v3/examples.md
Due: prettier --write

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@6ce4381b8b23bef443765fcdaac9f671bc5ba96b 🚀
  v3/examples.md
Due: prettier --write

feat: support YMapLayer component
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

feat: support YMapLayer component (#249)
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

feat: support YMapFeatureDataSource component
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

feat: support YMapFeatureDataSource component (#250)
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

refactor: rename yMapControls -> yMapControlsDirective
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-button/y-map-control-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-common-button/y-map-control-common-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-geolocation-control/y-map-geolocation-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-open-maps-button/y-map-open-maps-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-scale-control/y-map-scale-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-zoom-control/y-map-zoom-control.directive.ts
Due: prettier --write, eslint --fix

feat: support YMapHint component
  apps/angular-yandex-maps-v3-demo/src/app/app.component.html
  apps/angular-yandex-maps-v3-demo/src/app/app.component.ts
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.ts
  libs/angular-yandex-maps-v3/src/lib/types/complex-options.ts
  libs/angular-yandex-maps-v3/src/lib/types/y-map-hint-props.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

refactor: improve code for ControlContainer and HintContainer
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
Due: prettier --write, eslint --fix

feat: support YMapHint component (#248)
  apps/angular-yandex-maps-v3-demo/src/app/app.component.html
  apps/angular-yandex-maps-v3-demo/src/app/app.component.ts
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-button/y-map-control-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-common-button/y-map-control-common-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-geolocation-control/y-map-geolocation-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-open-maps-button/y-map-open-maps-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-scale-control/y-map-scale-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-zoom-control/y-map-zoom-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/types/complex-options.ts
  libs/angular-yandex-maps-v3/src/lib/types/y-map-hint-props.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
Due: prettier --write, eslint --fix

fix: elementRef.nativeElement.firstChild is undefined after instance creation (YMapMarker and YMapControl)
  apps/angular-yandex-maps-v3-demo/src/app/app.component.html
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-marker/y-map-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
Due: prettier --write, eslint --fix

fix: elementRef.nativeElement.firstChild is null after YMapMarker and YMapControl creation (#253)
  apps/angular-yandex-maps-v3-demo/src/app/app.component.html
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-marker/y-map-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
Due: prettier --write, eslint --fix

fix: fix redundant ticks in v3
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-default-marker/y-map-default-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature/y-map-feature.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-listener/y-map-listener.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-marker/y-map-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map/y-map.component.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-button/y-map-control-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-common-button/y-map-control-common-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-controls/y-map-controls.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-geolocation-control/y-map-geolocation-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-open-maps-button/y-map-open-maps-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-scale-control/y-map-scale-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-zoom-control/y-map-zoom-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-features-layer/y-map-default-features-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-scheme-layer/y-map-default-scheme-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/services/y-api-loader/y-api-loader.service.ts
Due: prettier --write, eslint --fix

fix: fix redundant ticks in v2
  libs/angular-yandex-maps-v2/src/lib/components/ya-clusterer/ya-clusterer.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-geoobject/ya-geoobject.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-map/ya-map.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-multiroute/ya-multiroute.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-object-manager/ya-object-manager.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-panorama/ya-panorama.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-placemark/ya-placemark.directive.ts
  libs/angular-yandex-maps-v2/src/lib/services/ya-api-loader/ya-api-loader.service.ts
Due: prettier --write, eslint --fix

fix: fix redundant application ticks (#255)
  libs/angular-yandex-maps-v2/src/lib/components/ya-clusterer/ya-clusterer.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-geoobject/ya-geoobject.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-map/ya-map.component.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-multiroute/ya-multiroute.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-object-manager/ya-object-manager.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-panorama/ya-panorama.directive.ts
  libs/angular-yandex-maps-v2/src/lib/components/ya-placemark/ya-placemark.directive.ts
  libs/angular-yandex-maps-v2/src/lib/services/ya-api-loader/ya-api-loader.service.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-default-marker/y-map-default-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature-data-source/y-map-feature-data-source.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-feature/y-map-feature.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-hint/y-map-hint.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-listener/y-map-listener.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-marker/y-map-marker.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map/y-map.component.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-button/y-map-control-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control-common-button/y-map-control-common-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-control/y-map-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-controls/y-map-controls.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-geolocation-control/y-map-geolocation-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-open-maps-button/y-map-open-maps-button.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-scale-control/y-map-scale-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/controls/y-map-zoom-control/y-map-zoom-control.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-features-layer/y-map-default-features-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-default-scheme-layer/y-map-default-scheme-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/components/layers/y-map-layer/y-map-layer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/services/y-api-loader/y-api-loader.service.ts
Due: prettier --write, eslint --fix

chore(release): publish
  libs/angular-yandex-maps-v2/package.json
  libs/angular-yandex-maps-v3/CHANGELOG.md
  libs/angular-yandex-maps-v3/package.json
Due: prettier --write

chore(release): publish
  libs/angular-yandex-maps-v2/CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@335899f6ad5fe3fd8389f57aabd9382ca39f2fe1 🚀
  v3/_sidebar.md
  v3/components/YMapFeatureDataSourceDirective.md
  v3/components/YMapHintDirective.md
  v3/components/YMapLayerDirective.md
Due: prettier --write

feat: improve typings
  libs/angular-yandex-maps-v2/src/lib/typings/yandex-maps/index.ts
Due: prettier --write, eslint --fix

feat: improve typings (#259)
  libs/angular-yandex-maps-v2/src/lib/typings/yandex-maps/index.ts
Due: prettier --write, eslint --fix

feat: support YMapClusterer
  apps/angular-yandex-maps-v3-demo/src/app/app.component.css
  apps/angular-yandex-maps-v3-demo/src/app/app.component.html
  apps/angular-yandex-maps-v3-demo/src/app/app.component.ts
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-clusterer/y-map-clusterer.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-clusterer/y-map-clusterer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/types/utilities/optional.ts
  libs/angular-yandex-maps-v3/src/lib/types/y-ready-event.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
  libs/docsifier/src/utils/create-component-markdown.ts
Due: prettier --write, eslint --fix

feat: support YMapClusterer (#260)
  apps/angular-yandex-maps-v3-demo/src/app/app.component.css
  apps/angular-yandex-maps-v3-demo/src/app/app.component.html
  apps/angular-yandex-maps-v3-demo/src/app/app.component.ts
  libs/angular-yandex-maps-v3/src/index.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-clusterer/y-map-clusterer.directive.spec.ts
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-clusterer/y-map-clusterer.directive.ts
  libs/angular-yandex-maps-v3/src/lib/types/utilities/optional.ts
  libs/angular-yandex-maps-v3/src/lib/types/y-ready-event.ts
  libs/angular-yandex-maps-v3/src/test-utils.ts
  libs/docsifier/src/utils/create-component-markdown.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@efecff94b6b0ed2fb4b03967316f82f02ba689ef 🚀
  v2/components/YaClustererComponent.md
  v2/components/YaControlDirective.md
  v2/components/YaGeoObjectDirective.md
  v2/components/YaMapComponent.md
  v2/components/YaMultirouteDirective.md
  v2/components/YaObjectManagerDirective.md
  v2/components/YaPanoramaDirective.md
  v2/components/YaPlacemarkDirective.md
  v3/_sidebar.md
  v3/components/YMapClustererDirective.md
  v3/components/YMapComponent.md
  v3/components/YMapControlButtonDirective.md
  v3/components/YMapControlCommonButtonDirective.md
  v3/components/YMapControlDirective.md
  v3/components/YMapControlsDirective.md
  v3/components/YMapDefaultFeaturesLayerDirective.md
  v3/components/YMapDefaultMarkerDirective.md
  v3/components/YMapDefaultSchemeLayerDirective.md
  v3/components/YMapFeatureDataSourceDirective.md
  v3/components/YMapFeatureDirective.md
  v3/components/YMapGeolocationControlDirective.md
  v3/components/YMapHintDirective.md
  v3/components/YMapLayerDirective.md
  v3/components/YMapListenerDirective.md
  v3/components/YMapMarkerDirective.md
  v3/components/YMapOpenMapsButtonDirective.md
  v3/components/YMapScaleControlDirective.md
  v3/components/YMapZoomControlDirective.md
  v3/interfaces/YReadyEvent.md
Due: prettier --write

Deploying to gh-pages from @ ddubrava/angular-yandex-maps@65414c259d57c7f42897cce5b7895b6bee6cd504 🚀
  v2/_sidebar.md
  v3/_sidebar.md
  v3/components/YMapClustererDirective.md
Due: prettier --write

docs: improve YMapClustererDirective documentation
  libs/angular-yandex-maps-v3/src/lib/components/common/y-map-clusterer/y-map-clusterer.directive.ts
Due: prettier --write, eslint --fix

docs: add categories to sidebar
  libs/docsifier/src/utils/create-sidebar-markdown.ts
Due: prettier --write, eslint --fix
